* {
    text-align: center;
    font-weight: lighter;
    background-color: rgb(200, 250, 255)
    font-family: 'Courier New', Courier, monospace;
}

h1,
h3,
h4 {
    font-family: Georgia, 'Times New Roman', sans-serif;
    font-weight: bolder;
    color: black
}

ul {
   color: black;
}

ul>li {
    font-weight: bolder;
}

ol>li {
    
}