
* {
    background-color: hsl(81, 33%, 81%);
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
}

.list-bg {
    background-color: aliceblue;
    padding: 10px;
}

ul {
    background-color: rgb(50, 255, 160);
}

li {text-align: center;
    padding: 10px;
    background-color: rgb(50, 255, 160);
}

a {
    font-family: 'Courier New', Courier, monospace;
}