
* {
    background-color: gray;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
}

 ul {
    background-color: yellow
}

a {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    background-color: red;
}